* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    height: 3rem;
    background-color: #1e3a8a; /* Dark blue */
    color: white; /* High contrast */
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#add_task {
    background-color: antiquewhite;
    padding: 0.5rem 1rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add_task:hover {
    background-color: rgb(164, 164, 224); 
}

#task_text {
    padding: 0.5rem;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: antiquewhite;
    font-size: 1rem;
    margin: 0.5rem 0;
}


.todo_input {
    padding: 0.5rem;
    background-color: #713838;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.todo_input:hover {
    background-color: #5c2f2f;
    color: #f5f5f5;
}