body {
    background: conic-gradient(from .5turn at 50% 110%, white, orange);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tipcalc {
    background-color: #ffffff; 
    padding: 30px;
    width: 350px; 
    border-radius: 15px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.tipcalc h1 {
    font-size: 1.8rem;
    color: #333333;
    margin-bottom: 20px;
}

.tipcalc label {
    display: block;
    font-size: 1rem;
    color: #555555;
    margin-bottom: 5px;
    text-align: left;
}

.tipcalc input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
}

.tipcalc input:focus {
    outline: none;
    border: 1px solid orange;
    box-shadow: 0 0 5px rgba(255, 126, 95, 0.5);
}

.tipcalc button {
    width: 100%;
    padding: 10px 20px;
    background-color: orange;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tipcalc button:hover {
    background-color: orange;
}

.tipcalc .result {
    font-size: 1.2rem;
    color: #333333;
    margin-top: 20px;
    font-weight: bold;
}

.tipcalc label, 
.tipcalc input, 
.tipcalc select {
    display: block;
    width: 100%; 
    margin-bottom: 15px; 
    text-align: left; 
}

.tipcalc input, 
.tipcalc select {
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem; 
}

.tipcalc label {
    font-weight: bold; 
    margin-bottom: 5px; 
}

.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-alert-content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    width: 400px;
    font-family: Arial, sans-serif;
}

.custom-alert-content h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.custom-alert-content p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

.custom-alert-content button {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-alert-content button:hover {
    background-color: orange;
}
